






.container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100%;
  width:100%;
  z-index:1;
}



form{
  z-index:1;
  color:azure;
  -webkit-text-fill-color:azure;
  margin-top:10vh;
}



form input{
  background:rgba(250,250,250,.5);
  margin:4px 0;
  color:#000;
  -webkit-text-fill-color:#000;
  font-weight:bolder;
}


form input[type='submit']{
  background:rgba(0, 0, 0, .5);
  padding: 3px 8px;
  color:azure;
  -webkit-text-fill-color:azure;
}



form span{
  cursor:pointer;
}