.chat_bar{
	width:100%;
	height:100%;
	text-shadow:0 0 10px darkblue;
	border-radius:10px;
	padding:20px;
	display:inline-block;
	-webkit-text-fill-color: azure;
	color: azure;

}


.chat_bar a {
	float: right;
}


.naviola{
	width:100%;
	height:100%;
	background:rgba(250,250,250,.2);
	box-shadow:0 0 10px darkblue;
	border-radius:10px;
	padding:20px;
	display:flex;
	justify-content:space-between;
	align-items:center;
    margin-bottom: 50px;
}


.naviola a:nth-child(1){
	-webkit-text-fill-color:darkblue;
	color: darkblue;
}

:is(.naviola, .chat_bar) a{
	margin:0px 5px;
	-webkit-text-fill-color: azure;
	color: azure;
	text-decoration:none;
}


