.close-note-from-window{
  z-index:3;
  padding: 3px 7px;
  position: absolute;
  top:5px;
  right:5px;
  -webkit-text-fill-color: red;
  color: red;
  border:solid 1px red;
  font-size:1.6rem;
  cursor:pointer;
  background: rgba(0,0,0,0);
  background-color: rgba(0,0,0,0);
  border-radius: 50%;
  border:solid 2px firebrick;
  animation:glow 1s linear infinite;
  transition:1s linear ease-in-out;
}

@keyframes glow{
  from{
    box-shadow: 0 0 5px darkred,
              0 0 15px darkred,
              0 0 30px darkred,
              0 0 60px darkred;
  }


  to{
    box-shadow:0 0 60px darkred,
              0 0 30px darkred,
              0 0 15px darkred,
              0 0 5px darkred;
  }
}


.close-note-from-window:hover{
  transition:2s linear ease-in-out;
  animation:none;
box-shadow: 0 0 5px darkred,
              0 0 25px darkred,
              0 0 50px darkred;
}

.dtb-n-form-holder {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.95);
}




.dtb-n-form {
  position: absolute;
  top: 50%;
  left: 50%;
  width:80%;
  max-width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.9);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.dtb-n-form h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.dtb-n-form .user-box {
  position: relative;
}

.dtb-n-form .user-box :is(input,textarea) {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  -webkit-text-fill-color: #fff;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.dtb-n-form .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.dtb-n-form .user-box :is(input,textarea):focus ~ label,
.dtb-n-form .user-box :is(input,textarea):valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.dtb-n-form form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background:rgba(0,0,0,0);
}

.dtb-n-form button:hover {
  background: darkblue;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px darkblue,
              0 0 25px darkblue,
              0 0 50px darkblue,
              0 0 100px darkblue;
}

.dtb-n-form button span {
  position: absolute;
  display: block;
}

.dtb-n-form button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, cyan);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.dtb-n-form button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, cyan);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.dtb-n-form button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, cyan);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.dtb-n-form button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, cyan);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
